.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Sofia", sans-serif;
}

#loading {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  flex-direction: column;
  img {
    width: 6rem;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

#game-over {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  align-items: center;
  background-color: black;
  p {
    font-size: 3.5rem;
    color: white;
  }
  button {
    font-size: 2.5rem;
    color: black;
    background-color: white;
    text-shadow: 1px 1px 1px black;
    width: 100%;
  }
  img {
    filter: invert(16%) sepia(91%) saturate(7477%) hue-rotate(0deg)
      brightness(116%) contrast(116%);
    transform: rotate(45deg);
    width: 12rem;
    position: absolute;
    top: 0;
  }
}

#cards-container {
  display: flex;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;

  width: 100vw;
  height: 80vh;
  justify-content: space-around;
  gap: 1rem;
  align-content: center;
  .card {
    border: 1px solid black;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px black;

    img {
      width: 6rem;
    }
  }
}

#header {
  font-size: 1.2rem;
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p:first-child {
    font-size: 1.5rem;
  }
  #level {
    color: red;
  }
  #score {
    color: green;
  }
  #best-score {
    color: gold;
  }
}
